args==0.1.0
astroid==2.4.2
attrs==20.3.0
cffi==1.14.4
clint==0.5.1
coverage==5.3.1
cryptography==3.3.1
iniconfig==1.1.1
isort==5.6.4
lazy-object-proxy==1.4.3
mamba==0.11.2
mccabe==0.6.1
numpy==1.19.4
opencv-contrib-python==4.4.0.46
opencv-python==4.4.0.46
packaging==20.8
pluggy==0.13.1
py==1.10.0
pycparser==2.20
pylint==2.6.0
pyparsing==2.4.7
pytest==6.2.1
six==1.15.0
toml==0.10.2
wrapt==1.12.1
